/* * * * * * * * * * *
 * Caja file manager *
 * * * * * * * * * * */

// sidebar & sidebar buttons color


.caja-side-pane {
    .frame { border-width: 1px 0 0; }
    color: darken($fg_color, 2%);
		background: $headerbar_color;
    treeview.view,
    textview.view text,
    viewport.frame,
    widget .vertical {
    	background-color: transparent;
    	&:hover {
      	//color: $selected_fg_color;
				//background: linear-gradient(to right, transparentize($theme-gradient-start, 0.6) 0%, transparentize($theme-gradient-end, 0.6) 100%);
				color: $selected_bg_color;
				background-color: transparentize($fg_color, 0.95);
      }
      &:selected, &:active, &:checked {
				color: $selected_fg_color;
				background: linear-gradient(to right,
				$theme-gradient-start 0%, $theme-gradient-end 100%);
			}
    }
}

// main window

.caja-notebook {
	.frame { border-width: 0 0 1px; }
	.entry {
    background: $bg_color;
    color: $fg_color;
		border-color: $borders_color;
    &:selected {
      background: $selected_bg_color;
      color: $selected_fg_color;
    }
	}
}

// toolbar and statusbar bg color

.caja-navigation-window paned, .caja-navigation-window .primary-toolbar {
	background: $headerbar_color;
}

// Toolhbar

.caja-navigation-window   {

    .primary-toolbar button,
    .vertical button.image-button.toggle:not(.text-button) {
        &, &:backdrop { @include button(undecorated); }
        &:hover {
        	background: linear-gradient(to right,
					transparentize($theme-gradient-start, 0.6) 0%,
					transparentize($theme-gradient-end, 0.6) 100%);
					box-shadow: none;
					&, & label {
        	  color: $selected_fg_color;
        	}
        }
        &:active,
        &:backdrop:active,
        &:backdrop:checked {
        	background: linear-gradient(to right,
					$theme-gradient-start 0%, $theme-gradient-end 100%);
          //background: $selected_bg_color;
          box-shadow: none;
          &, & label {
        	  color: $selected_fg_color;
          }
        }
    }
}

// Pathbar

.caja-pathbar button {
    @include button(normal-header);
    margin-top: 7px;
    margin-bottom: 7px;
    &:hover { color: $selected_bg_color; }
    &:checked { @include button(active-header); }
    &:backdrop:disabled {
        @include button(backdrop-header,$base_color,transparentize($fg_color,0.8));
    }

}

/* * * * * * * *
 * Volume OSD  *
 * * * * * * * */

MsdOsdWindow.background.osd {
  color: $osd_fg_color;
  border: 1px solid $borders_color;
  border-radius: 9px;
  background-color: $osd_bg_color;
  background-clip: padding-box;
  box-shadow: none;

  .progressbar {
    background-color: $selected_bg_color;
    border: none;
    border-radius: 5px;
  }
  .trough {
    background-color: $selected_fg_color;
    border: none;
    border-radius: 5px;
  }
}

