/* * * * * * * * * * * *
 * Activities Ripples  *
 * * * * * * * * * * * */

 .ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("common-assets/misc/corner-ripple.svg");
  background-size: contain;

  &:rtl { background-image: url("common-assets/misc/corner-ripple.svg"); }
}
