.applet {

  &-box {
    padding: 0 $applet_padding_horizontal;
    spacing: $applet_padding_horizontal;
    text-align: center;
    transition-duration: 200;
    color: $panel_fg_color;

    &.vertical {
      padding: $applet_padding_vertical 0;
      & StLabel { padding-top: 0; }
     }

    &:hover{
      color: $selected_fg_color;
      // background-color: $hover_bg_color;
      @include bg_gradient(horizontal, $theme_gradient_start,
      	$theme_gradient_end, 0.5);
      border-radius: ($border_radius/2);

      &-label { color: $selected_fg_color; }
    }
    &:checked {
      color: $selected_fg_color;
      @include bg_gradient(horizontal, $theme_gradient_start,
      	$theme_gradient_end, 1);
      border-radius: ($border_radius/2);

      &-label { color: $selected_fg_color; }

      &:hover {
        @include bg_gradient(horizontal, lighten($theme_gradient_start, 10%), lighten($theme_gradient_end, 10%), 1);
      }
    }

    &:highlight { background-color: transparentize($error_bg_color, 0.5); }
  }

  &-label {
    font-weight: bold;
    color: $panel_fg_color;

    &:hover,
    &:checked,
    .applet-box:hover > &,
    .applet-box:checked > & {
      color: $selected_fg_color;
      text-shadow: none;
    }
  }
}
/* Separator applet */

.applet-separator {
  padding: 1px 4px;

  &.vertical {
    padding: 4px 1px;
  }

  &-line {
    width: 1px;
    background: $applet_separator_color;

    &-vertical {
      height: 1px;
      background: $applet_separator_color;
    }
  }
}

/* cornerbar applet */

.applet-cornerbar {
  width: $base_margin * 2;
  background-color: $lighter_bg_color;
  border: 1px solid $borders_color;

  &.vertical { height: $base_margin * 2; }

  &-box {
    background: none;
  }
}

.applet-cornerbar-box:hover > .applet-cornerbar {
  // background-color: $lightest_bg_color;
  @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 0.5);
}

/* notification applet */

.notification-applet-padding {
  padding: $base_margin 0 $base_margin $base_margin;
}

/* panel launchers */

.panel-launchers {
  // padding-left: $base_padding;
  spacing: 2px;

  .launcher {
    padding: 0 2px;

    &:hover {
      //background-color: $lighter_bg_color;
      @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 0.5);
    }
  }

  &.vertical {
    padding: 2px 0;

    .launcher { padding: 2px 0; }
  }
}

/* power applet */

.device-box {

  .device-icon {
    icon-size: to_em(24px);
    color: $fg_color;
  }

  .device-labels {
    margin-left: $base_margin * 2;
    spacing: $base_margin;

    .primary-label {
      @extend %heading;

      color: $fg_color;
    }

    .status-label { color: $light_text_color; }
  }
}

/* sound applet */

//TODO: FIX BUTTONS COLORS

.sound-player {

  > StBoxLayout:first-child {
    spacing: $base_margin;
    padding: 0 $base_padding;
  }

  StButton {
    @extend %flat_button;
    background-color: transparent;
    border: 1px solid borders_color;

    width: 1.2em; //18px;
    height: 1.2em; //18px;
    padding: $base_padding;


    StIcon { icon-size: 1em; }

    &:small {
      @extend %flat_button;
      background-color: transparent;
      border: 1px solid borders_color;

      width: 1em; //16px;
      height: 1em; //16px;

      StIcon { icon-size: 0.8em;}
    }

    &:hover {
      background-color: transparent;
      color: $accent_bg_color;
    }
    &:active {
      color: $accent_fg_color;
    }
  }

  &-generic-coverart { background-color: transparentize(black, 0.8); }

  &-overlay {
    width: 290px;
    padding: $base_padding * 2;
    spacing: $base_margin;
    background-color: transparentize($bg_color, 0.1);

    StBoxLayout { padding-top: 2px; }
    > StBoxLayout { spacing: $base_padding; }
    StBin > StBoxLayout { spacing: $base_padding; }
  }

  .slider { // this actually does not change slider colors - colors are changed in %slider placeholder definition inside _common.scss (probably because _menu.scss is loaded after this one)
    margin: 0.1em 0;
    height: 0.3em; //$base_padding;
    -slider-height: 0.3em; //$base_padding;
    -slider-background-color: $base_color;
    -slider-active-background-color: $accent_color;
    -slider-border-color: transparent;
    -slider-active-border-color: transparent;
    -slider-border-width: 1px;
    -slider-handle-radius: 0;
    -slider-handle-radius: 0.15em;
  }
}

/* spacer applet */

.spacer-box {
  border: 1px solid transparent;

  &:highlight { background-color: $error_color; }

  &.edit-mode { border: 1px symbolic; }
}

/* systray */

.systray {
  padding: 0;
}

/* workspace switcher applet */

.panel-top,
.panel-bottom {

  .workspace-switcher { padding: 0 $base_margin;}
}

.workspace-button {
  color: $panel_fg_color;
  //background-color: transparentize($fg_color, 0.95);
  background-color: inherit;
  border: 1px solid $borders_color;
  border-radius: $border_radius;
  width: 1.3em;
  height: 1.1em;
  &.vertical {
    height: 1.2em;
    width: 1em;
    padding-top: 1px;
    padding-bottom: 3px;
  }

  &:outlined {
    color: $accent_fg_color;

    &:hover {
      // background-color: $lighter_bg_color;
      @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 0.5);
      color: $selected_fg_color;
      transition-duration: 200;
    }
  }

  &:hover {
    //background-color: $light_bg_color;
    @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 0.5);
    color: $selected_fg_color;
    transition-duration: 200;
  }

  &:shaded { // this is a workspace with no open windows
    color: transparentize($panel_fg_color, 0.4);
    &:outlined {
      color: transparentize($accent_color, 0.4);
    }
  }
}

.workspace-graph {
  padding: $base_margin;
  spacing: $base_margin;

  .workspace {
    border: 1px solid transparentize($fg_color, 0.75);
    background-color: darken($panel_bg_color, 5%);

    .windows {
      -active-window-background: transparentize(white, 0.8);
      -active-window-border: transparentize($accent_color, 0.65);
      -inactive-window-background: transparent; //transparentize(white, 0.9);
      -inactive-window-border: transparentize(white, 0.85);
    }

    &:active {
      border-color: transparentize($accent_color, 0.4);
      background-color: darken($panel_bg_color, 5%);

      .windows {
        -active-window-background: transparentize($accent_color, 0.8);
        -active-window-border: transparentize($accent_color, 0.35);
        -inactive-window-background: transparentize(white, 0.9);
        -inactive-window-border: transparentize(white, 0.85);
      }
    }
  }
}

.system-status-icon { icon-size: $scalable_icon-size; }

/* timer applet & notification */

.timer {

  &-dialog-label {
    text-align: center;
    font-weight: bold;
  }

  &-expired {
    .system-status-icon { color: $error_color; }
  }

  &-running {
    .system-status-icon { color: $warning_color; }
  }

  &-stopped {
    .system-status-icon { color: $panel_fg_color; }
    .applet-label { color: $panel_fg_color; }
  }

}

/* radio applet */

.radio-applet-media-control-toolbar {
  padding: 0.625em;
  background-color: inherit;
  border: 1px solid $borders_color;
  border-radius: $border_radius;

  StButton {
    background-color: transparent;
    &:hover {
      color: $selected_fg_color;
    }
    &:active {
      color: $accent_fg_color;
    }
  }
}

/* weather applet */

// .popup-menu-content.weather-menu {
//   padding-bottom: 0em;
//   padding-top: 0em;
// }

.weather-current-location-link {
  color: transparentize($panel_fg_color, 0.3);
  text-align: center;
}

.weather-current-summarybox {
  padding-top: 0.3em;
}

.weather-current-summary {
  color: $accent_fg_color;
  @extend %title_1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.weather-current-databox {
  padding-top: 0.938em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  padding-bottom: 0.938em;
}

.weather-hidden {
  height: 0;
  width: 0;
  display: none;
  margin: 0;
  padding: 0;
}

.weather-current-icon {
  padding: 0 1.875em;
}

.weather-current-iconbox {
  padding: 0.625em;
}

.weather-icon {
  padding-right: 0.313em;
}

.weather-icon-rtl {
  padding-left: 0.313em;
}

.weather-current-databox-captions {
  text-align: right;
  padding-right: 0.313em;
  color: transparentize($panel_fg_color, 0.3);
}

.weather-current-astronomy {
padding-top: 0.313em;
  color:$panel_fg_color;
}

.weather-immediate-precipitation {
  color: $accent_fg_color;
}

.weather-forecast-icon {
  color: $panel_fg_color;
  padding: 0 0.625em 0.625em 0.938em;
}

.weather-forecast-databox {
  padding: 0 1.25em 0.625em 0;
}

.weather-forecast-container {
  margin: 0.625em 0.625em 0em 0.625em;
}

.weather-forecast-day {
  color: transparentize($panel_fg_color, 0.5);
  font-size: 90%;
}

.weather-config {
  padding-right: 0.625em;
}

.hourly-time {
  color: transparentize($panel_fg_color, 0.5);
  font-size: 90%;
  text-align: center;
  padding-left: 0.313em;
  padding-right: 0.313em;
}

.hourly-data {
text-align: center;
/* padding: 0px 0.313em; */
}

.hourly-box {
  //margin: 0.625em 0.625em 0.313em 0.625em;
  margin: 0;
  background-color: transparentize($base_color, 0.75);
}

.hourly-icon {
  padding: 0.313em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
}

.location-selector {
  margin-right: 0.313em;
  margin-left: 0.313em;
}

.bottombar {
  padding: 0.438em 0.625em 0.438em 0.625em;
  color: transparentize($panel_fg_color, 0.3);
  font-weight: 300;

  StButton {
    @extend %flat_button;
    color: transparentize($panel_fg_color, 0.3);
    background-color: transparent;
    border-radius: $border_radius;
    font-weight: 200;

    StIcon { icon-size: 0.8em; }

    &:hover {
      background-color: transparent;
      color: $panel_fg_color;
    }
    &:active {
      color: $panel_fg_color;
    }
  }
}
