.flashspot { background-color: white; }

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  @extend %caption;
  color: $warning_color;
}

// links
.cinnamon-link {
  color: $link_color;

  &:hover {
    color: lighten($link_color, 10%);
  }
}

// lightbox

.lightbox { background-color: rgba(0, 0, 0, 0.4); }

// looking glass dialog

#LookingGlassDialog {
  @extend %osd_base;

  spacing: $base_margin;
}

// magnifier

.magnifier-zoom {

  &-region {
    border-width: 0.3em;
    border-color: transparentize($accent_color, 0.33);
    &.full-screen {
      border-width: 0;
    }
  }
}

// pie timer

.pie-timer {
  width: 2em;
  height: 2em;
  -pie-border-width: 1px;
  -pie-border-color: rgba(200, 200, 200, 0.8);
  -pie-background-color: rgba(140, 140, 140, 0.6);
}

// ripples

$ripple_pointer_size: 3.2em;

.ripple-pointer-location {

  width: $ripple_pointer_size;
  height: $ripple_pointer_size;
  border-radius: ($ripple_pointer_size / 2);
  background-color: $accent_color;
  box-shadow: 0 0 2px 2px rgba(160,160,160,1.0);
}

.ripple-box {
  width: ($ripple_pointer_size * 2);
  height: ($ripple_pointer_size * 2);
  background-image: url("#{$assets_path}/corner-ripple.svg");

  &:rtl { background-image: url("#{$assets_path}/corner-ripple.svg"); }
}

// scrollbars
StScrollView {
  &.vfade { -st-vfade-offset: 68px; }
  &.hfade { -st-hfade-offset: 68px; }
}

StScrollBar {

  StScrollView & {
    min-height: 5px;
    min-width: 5px;
  }

  StBin#trough {
    background-color: transparentize($base_color, 0.9);
    border_radius: $border_radius; // $base_border_radius;
  }

  StButton#vhandle,
  StButton#hhandle {
    background-color: mix($fg_color, $bg_color, 30%);
    border-radius: $border_radius; // $base_border_radius;

    &:hover { background-color: mix($fg_color, $bg_color, 40%); }
    &:active { background-color: transparentize($accent_color, 0.25); }
  }
}

// separator

.separator {
  -gradient-height: 1px;
  -gradient-start: $borders_color;
  -gradient-end: $borders_color;
  -margin-horizontal: 0;
  height: 1px;
}

// slider

.slider {
  @extend %slider;
}

// tile previews

.tile-preview {
  background-color: transparentize($accent_color, 0.8);
  border: 1px solid transparentize($accent_color, 0.3);
}

.tile-hud {
  background-color: transparentize($accent_color, 0.8);
  border: 1px solid transparentize($accent_color, 0.3);

  &.snap { background-color: transparentize($accent_color, 0.3); }

  &:top { border-top-width: 0px; }
  &:bottom { border-bottom-width: 0px; }
  &:left { border-left-width: 0px; }
  &:right { border-right-width: 0px; }
  &:top-left {
    border-top-width: 0px;
    border-left-width: 0px;
  }
  &:top-right {
    border-top-width: 0px;
    border-right-width: 0px;
  }
  &:bottom-left {
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
  &:bottom-right {
    border-bottom-width: 0px;
    border-right-width: 0px;
  }
}


#Tooltip {
  @extend %osd_base;

  padding: $base_padding * 2;
  margin: $base_margin;
}

// user avatar

.user-icon {
  background-size: contain;
  border-radius: $border_radius;
  color: $fg_color;
  border-color: transparent;
  // background-color: transparentize($fg_color, 0.95);

  & StIcon {
    padding: $base_padding * 2;
    border: 1px solid transparent;
    border-radius: $border_radius;
  }

  &.user-avatar {
    border: transparent; //1px solid transparentize($fg_color, 0.5);
    border-radius: $border_radius;
  }

  StIcon.highlighted {
    border: 1px solid transparentize($fg_color, 0.5);
    border-radius: 100%;
  }
}

.user-widget-label { // I don't know what this is, so I made it transparent
                     // (was empty selector)
  background-color: transparent;
  color: inherit;
}

.user-label {
  @extend %heading;
  color: $accent_fg_color;
}

.user-widget.horizontal { spacing: $base_padding; }

.user-widget.vertical { spacing: $base_padding; }

.user-widget.vertical .user-widget-label {
  @extend %title_4;
  color: $fg_color;
  padding-top: $base_margin * 2;
  text-align: center;
}
