/* * * * * *
 * Buttons *
 * * * * * */

 %button {
  min-height: 20px;
  padding: 5px 32px;
  transition: $button_transition;
  //transition-duration: 200ms;
  background-clip: padding-box;


  &, &:focus, &:hover, &:hover:focus, &:active, &:active:focus, &:insensitive {
    border-radius: $radius;
  }

  @include button(normal);

  &:focus { @include button(focus); }
  &:hover { @include button(hover); }
  &:hover:focus { @include button(focus-hover); }
  &:active, &:active:focus { @include button(active); }
  &:insensitive { @include button(insensitive); }
}

%osd_button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: $radius;

  @include button(osd);

  &:hover { @include button(osd-hover); }
  &:focus { @include button(osd-focus); }
  &:focus:hover { @include button(osd-focus-hover); }
  &:active { @include button(osd-active); }
  &:insensitive { @include button(osd-insensitive); }
}
