.calendar {
  margin-top: $base_margin * 5;
  spacing-rows: 2px;
  spacing-columns: 2px;

  // can be used to set the entire bg color
  &-background { background-color: inherit;}

  &-main-box { margin: $base_margin * 2; }

  &-events-main-box {
    height: 300px;
    margin: $base_margin * 4;
    padding-top: $base_padding * 2;
    min-width: 350px;
    border: 1px solid $borders_color;     //border-right-width: 1px;
    background-color: transparentize($base_color, 0.75); //$base_color;
    border-radius: $border_radius;
  }

  &-today-home-button,
  &-today-home-button-enabled {
    margin-left: $base_padding * 2;
    border-radius: $border_radius;

    &:hover {
      transition-duration: 150ms;
      background-color: $hover_bg_color;

      .calendar-today-day-label {
        color: $selected_fg_color;
      }
      .calendar-today-date-label {
        color: $selected_fg_color;
      }
    }
  }

  // the large date labels at the top
  &-today-day-label {
    @extend %title_4;
    text-align: center;
  }

  &-today-date-label {
    @extend %title_3;
  }

  &-month-label {
    @extend %heading;
  }

  &-change-month-back,
  &-change-month-forward:rtl {
    width: 16px;
    height: 16px;
    color: $fg_color;
    background-image: url("#{$assets_path}/calendar-arrow-left.svg");

    &:hover {
      transition-duration: 150ms;
      background-image: url("#{$assets_path}/calendar-arrow-left-hover.svg");
    }
  }

  &-change-month-forward,
  &-change-month-back:rtl {
    width: 16px;
    height: 16px;
    color: $fg_color;
    background-image: url("#{$assets_path}/calendar-arrow-right.svg");

    &:hover {
      transition-duration: 150ms;
      background-image: url("#{$assets_path}/calendar-arrow-right-hover.svg");
    }
  }

  &-day-event-dot-box {
    margin-top: 1.7em;
    max-rows: 1;
  }

  &-day-event-dot {
    margin: 1px;
    border-radius: $border_radius;
    width: 0.25em; //4px
    height: 0.25em; //4px;
  }

  &-day-base {
    text-align: center;
    width: 2.2em;
    height: 2.2em;
    border-radius: $border_radius;
    color: $insensitive_fg_color;

    &:hover {
      transition-duration: 150ms;
      background-color: $hover_bg_color;
      color: $hover_fg_color;
      font-weight: bold;
      box-shadow: inset 0 0 0.2em $borders_color;
    }
    // &:selected { }
  }

  &-not-today {
    color: $fg_color;
    &:selected {
      font-weight: bold;
      color: $selected_fg_color;
      @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 1);
      //background-color: $accent_color;
      &:hover {
        transition-duration: 150ms;
        font-weight: bold;
        color: lighten($selected_fg_color, 10%);
        background: $accent_color;
      }
    }

//TODO: HOVER STATE FOR SELECTED DAY (not TODAY) IS WRONG

  }

  &-day-heading {
    color: $fg_color;
    margin-top: $base_margin * 3;
    // using this to move the weekday row closer to the dates
    height: 1.6em;
  }

  &-week-number {
    color: transparentize($fg_color, 0.4);
    font-size: 0.7em;
    margin-top: 1.1em;
  }

  &-work-day { color: $fg_color; }
  &-nonwork-day {
    color: $fg_color;
    font-weight: 600;
  }

  &-today {
    border: 1px solid $accent_fg_color;
    background-color: inherit;
    color: $accent_fg_color;
    font-weight: bold;
    &:hover {
      color: $accent_fg_color;
      transition-duration: 150ms;
      background-color: transparentize($accent_color, 0.6);
    }

    &:selected {
      color: $selected_fg_color;
      // background-color: $accent_color;
      @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 1);
      &:hover {
        transition-duration: 150ms;
        background-color: lighten($accent_bg_color, 10%);
      }
    }
  }

  &-other-month-day {
    color: transparentize($fg_color, 0.7);
    font-weight: 200;
    //opacity: 1;
    &:hover {
      transition-duration: 150ms;
      background-color: transparentize(white, 0.925);
      color: $fg_color;
      font-weight: 200;
    }
  }

  // the calendar events area
  &-events-date-label {
    @extend %title_4;
    text-align: center;
  }

  &-events-no-events-box { // was empty selector
    background: inherit;
    border: 1px solid $borders_color;
    border-radius: $border_radius;
    &:hover {
      transition-duration: 200ms;
    }
  }

  &-events-no-events-button {
    margin: 0.38em 0;// 6px 0;
    padding: 0.38em; //6px;
    border-radius: $border_radius; // $base_border_radius;
    color: $light_text_color;

    &:hover {
      transition-duration: 200ms;
      color: $fg_color; }
  }

  &-events-no-events-icon {
    color: $large_icon_color;
    icon-size: 8em; // 128px;
  }

  &-events-no-events-label {
    @extend %title_3;
    text-align: center;
    margin-top: 16px;
  }

  &-events-event-container { background: transparent; } // was empty selector
  &-events-scrollbox { margin-top: $base_margin * 2;}

  &-events-main-box {
    .separator {
      -margin-horizontal: 1em;
      -gradient-height: 1px;
      -gradient-start: transparent;
      -gradient-end: transparent;
    }
  }

  &-event-button {
    margin: 0.2em;// 3px 0;
    border-radius: $border_radius; // $base_border_radius;
    border: 1px solid $osd_borders_color;

    &:hover {
      transition-duration: 150ms;
      background-color: $hover_bg_color; // lighten($bg_color, 15%);
      border-color: $borders_color;
    }
  }

  &-event-color-strip {
    width: 0.1em; // 3px;
    border-radius: $border_radius;
  }

  &-event-row-content { margin: 0.45em; }

  &-event-time-past {
    @extend %heading;
    color: $insensitive_fg_color;
  }

  &-event-time-present {
    @extend %heading;
    color: $fg_color;
  }

  &-event-time-present:all-day {
    @extend %heading;
    color: $accent_fg_color;
  }

  &-event-countdown {
    @extend %caption;

    color: $light_text_color;

    &:soon { color: $warning_color; }
    &:imminent { color: $error_color; }
    &:current { color: $success_color; }
  }

  &-event-time-future {
    @extend %heading;
    color: $fg_color;
  }

  &-event-summary {
    color: $light_text_color;
  }
}
