/* * * * * * * * * * * * * * * * * * * * * * *
 * on screen keyboard (up to Cinnamon < 6.6) *
 * * * * * * * * * * * * * * * * * * * * * * */

//FIXME: keyboard margin changes on special signs key pressed (can't reproduce it anymore)
//TODO: fix colors according to upstream
//TODO: caps lock color when pressed

#keyboard {
  background-color: $osd_bg_color;
  //padding: 2em;
}

.keyboard {
  &-layout {
    padding: 0.2em;//$base_padding;
    padding-left: 4em;
    padding-right: 4em;
      // when panel is in vertical mode and keyboard set o take 1/2 od the screen,
      // keyboard goes under panel. (cinnamon bug?)
      // that's why I introduced larger padding on left and right side.
    spacing: 0.2em;//$base_padding;
  }

  &-row { spacing: 0.2em; } //$base_padding;

  &-key {
    @extend %button;
    background-color: transparentize($button_bg_color, 0.2);
    min-height: 2em;
    min-width: 2em;
    padding: 0;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;

    &:grayed { @include button(insensitive); }
  }

  &-subkeys { // long press key pop-up
    padding: $base_padding;
    -arrow-background-color: $bg_color;
    -arrow-border-width: 1px;
    -arrow-border-radius: $border_radius;
    -arrow-border-color: $lightest_bg_color;
    -arrow-base: 1.2em;
    -arrow-rise: 0.7em;
    -boxpointer-gap: 0;
  }
}

/* * * * * * * * * * * * * * * * * * * * *
 * On screen keyboard in Cinnamon v6.6+  *
* * * * * * * * * * * * * * * * * * * * */

$key_border_radius: $border_radius;

$non_alpha_key_color: mix($bg_color, $button_bg_color, 50%);
$shifted_key_color: $active_bg_color;

#virtual-keyboard {
  background-color: $osd_bg_color;
}

// the container for individual keys
.vkeyboard-key-container {
  padding: 0.1em; //$base_margin;
  spacing: 0.1em; //$base_margin;
}

// the keys
.vkeyboard-key {

  @include button(normal);

  &:focus { @include button(focus);}
  &:hover, &:checked { @include button(hover); font-weight: bold; }
  &:active { @include button(active); }

  @include fontsize(20pt);
  border: 1px solid $borders_color;
  border-radius: $key_border_radius;

  // background-color: $lighter_bg_color;

  &.shift-key-lowercase, &.escape-key, &.hide-key, &.non-alpha-key {
    background-color: $non_alpha_key_color;

    &:focus { @include button(focus);}
    &:hover, &:checked { @include button(hover);}
    &:active { @include button(active); }
  }

  &.hide-key {
    &:hover{  color: $destructive_color; }
  }

  &.shift-key-uppercase { background-color: $shifted_key_color }
  &.enter-key { background-color: $accent_bg_color;
    &:hover{  background-color: $accent_fg_color; }
    &:active{  background-color: lighten($accent_fg_color, 3%); }
  }

  &.modifier-key {
    background-color: $non_alpha_key_color;

    &:hover, &:checked { @include button(hover); }

    &:latched {
      background-color: $shifted_key_color;
    }
  }

  StIcon { icon-size: 1.125em; }
}

// long press on a key popup
.vkeyboard-subkeys {
  color: $fg_color;
  -arrow-border-radius: $border_radius;
  -arrow-background-color: $panel_bg_color;
  -arrow-border-width: 2px;
  -arrow-border-color: $accent_bg_color;// lighten($bg_color, 9%);
  -arrow-base: 1.5em;
  -arrow-rise: 0.5em;
  -boxpointer-gap: $base_padding;
}

// suggestions
.word-suggestions {
  @include fontsize(16pt);
  spacing: 20px;
  min-height: 20pt;
}
