/* * * * * * * * *
 * Notifications *
 * * * * * * * * */

 #notification {
  border: 1px solid $borders_color;
  border-radius: $radius;
  background-color: $osd_bg_color;
  padding: 13px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: $osd_fg_color;

  .popup-menu & {
    color: $fg_color;
    border-image: url("#{$asset_path}/misc/message.svg") 9 9 9 9;

    .notification-button, .notification-icon-button {
      @extend %button;
      padding: 5px;
    }

    StEntry { @extend %entry; }
  }

  &.multi-line-notification {
    padding-bottom: 13px;
    color: $fg_color;
  }

  &-scrollview {
    max-height: 10em;

    > .top-shadow, > .bottom-shadow { height: 1em; }

    &:ltr > StScrollBar { padding-left: 6px; }
    &:rtl > StScrollBar { padding-right: 6px; }
  }

  &-body { spacing: 5px; }
  &-actions { spacing: 10px; }
}

.notification {

  &-with-image {
    min-height: 159px;
    color: $fg_color;
  }

  &-button, &-icon-button {
    @extend %button;
    padding: 5px;
  }

  &-icon-button > StIcon { icon-size: 32px; }

  StEntry { @extend %osd_entry; }
}
