

.panel {

  &-top, &-bottom, &-left, &-right{
    font-weight: bold;
    color: $panel_fg_color;
    background-color: $panel_bg_color;
  }

  &Left {
    spacing: 4px;

    &:dnd { background-color: transparentize(red, 0.75); } // panel edit mode
    &:ltr { padding-right: 4px; }
    &:rtl { padding-left: 4px; }

    &.vertical {
      padding: 0;
      &:ltr { padding-right: 0px; }
      &:rtl { padding-left: 0px; }
    }
  }

  &Right {

    &:dnd { background-color: transparentize(blue, 0.75); } // panel edit mode

    &:ltr {
      padding-left: 4px;
      spacing: 0;
    }
    &:rtl {
      padding-right: 4px;
      spacing: 0;
    }

    &.vertical {
      padding: 0;

      &:ltr {
        padding-left: 0;
        spacing: 0;
      }
      &:rtl {
        padding-right: 0;
        spacing: 0;
      }
    }
  }

  &Center {
    spacing: 4px;

    &:dnd { background-color: transparentize(green, 0.75); } // panel edit mode

    &.vertical {
      padding-left: 0;
      padding-right: 0;
    }
  }

  // create a border on the side we want for each location
  &-top { box-shadow: inset 0 -1px $borders_color; }
  &-bottom { box-shadow: inset 0 1px $borders_color; }
  &-left { box-shadow: inset -1px 0 $borders_color; }
  &-right { box-shadow: inset 1px 0 $borders_color; }

  &-dummy {   // used when adding a new panel
    background-color: transparentize($accent_color, 0.5);

    &:entered { background-color: transparentize($accent_color, 0.4); }
  }

  &-status-button {
    border-width: 0;
    -natural-hpadding: 3px;
    -minimum-hpadding: 3px;
    font-weight: bold;
    color: $panel_fg_color;

    &:hover { color: $fg_color; }
  }

  &-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: normal; // bold;
    color: $panel_fg_color;
    transition-duration: 100;

    &:hover { color: $accent_fg_color;}
  }
}

.panel-corner { // I dont know what this is
  -panel-corner-radius: 0px;
  -panel-corner-background-color: rgba(0, 0, 0, 0.2);
  -panel-corner-border-width: 2px;
  -panel-corner-border-color: transparent;

  &:active, &:overview, &:focus {
    -panel-corner-border-color: lighten($accent_color,5%);
  }

  &.lock-screen, &.login-screen, &.unlock-screen {
    -panel-corner-radius: 0;
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;
  }
}

// highlight a specific panel when using the panel settings
#panel:highlight { background-color: mix($panel_bg_color, $accent_color, 75%); }
