/* * * * * * * * *
 * Popovers/Menus *
 * * * * * * * * */

 .menu {
  color: $fg_color;
  border: 1px solid $borders_color;
  border-radius: $radius; // 3px;
	background-color: transparentize($bg_color, 0.08);
  box-shadow: 0 0 6px $shadow_color;

  &.top {
    border-radius: 0 0 $radius $radius; // 0 0 3px 3px;
  }

  &.bottom {
    border-radius: $radius $radius 0 0; // 3px 3px 0 0;
  }

  &.left {
    border-radius: 0 $radius $radius 0; // 0 3px 3px 0;
  }

  &.right {
    border-radius: $radius 0 0 $radius; // 3px 0 0 3px;
  }
}

.popup-sub-menu {
  background-color: transparentize($fg_color, 0.97); //$base_color;
  box-shadow: none;

  .popup-menu-item:ltr {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .popup-menu-item:rtl {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  StScrollBar {
    padding: 4px;
    StBin#trough, StBin#vhandle { border-width: 0; }
  }
}

.popup-menu-content { padding: 0.1em 0em 0.1em 0em; }
.popup-menu-item {
  // padding: .4em 1.75em;
  // spacing: 1em;
  // border: 1px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: $radius;
  min-height: 17px;
  min-width: 40px;
  padding: 4px 6px;
  margin-left: 2px;
  margin-right: 2px;

  &:active {
    color: $selected_fg_color;
    // border-color: transparentize($fg_color, 0.89);
    background-color: $accent_color;
  }
  &:insensitive {
    color: transparentize($fg_color, 0.5);
    background: none;
  }
}

.popup-inactive-menu-item { //all icons and other graphical elements
  color: $fg_color;

  &:insensitive { color: $insensitive_fg_color; }
}

/*Don't know what this does*/
.popup-combo-menu {
  background-color: rgba(0,0,0,0.4);
  padding: 1em 0em;
  color: red;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: $radius; // 3px;
}
.popup-image-menu-item {}

.popup-combobox-item { spacing: 1em; }

.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: $separator_color;
  -gradient-end: $separator_color;
  -margin-horizontal: 0;
  height: 1px;
}

.popup-alternating-menu-item:alternate {
  font-weight: normal;
}

.popup-device-menu-item {
  spacing: .5em;
  font-weight: bold;
  color: $fg_color;
  &:insensitive {
    color: $fg_color;
    spacing: 1em;
  }
  .popup-inactive-menu-item {
    font-weight: normal;
    color: $fg_color;
  }
}

.popup-subtitle-menu-item { font-weight: normal; }

.nm-menu-item-icons { spacing: .5em; }
