/* * * * * * * * *
 * Radio Buttons *
 * * * * * * * * */

 .radiobutton {

  CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
  }

  StLabel {
    padding-top: 4px;
    font-size: 0.9em;
    box-shadow: none;
  }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("#{$asset_path}/checkbox/radio-unchecked.svg");
  }

  &:focus StBin { background-image: url("#{$asset_path}/checkbox/radio-unchecked.svg"); }

   &:checked StBin { background-image: url("#{$asset_path}/checkbox/radio-checked.svg"); }

  &:focus:checked StBin { background-image: url("#{$asset_path}/checkbox/radio-checked.svg"); }
}
