/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * start menu in Cinnamon >= v6.6 (with new class names)             *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// New menu (since Cinnamon 6.6)
//
// Class diagram:
// appmenu-main-box
// ├─ appmenu-right-box
// |  ├─ appmenu-search-box
// |  |  └─ appmenu-system-box
// |  └─ appmenu-categories-applications-box
// |     ├─ appmenu-categories-scrollview
// |     |  └─ appmenu-categories-box
// |     └─vfade appmenu-applications-scrollview
// |        └─ appmenu-applications-box
// └─ appmenu-sidebar
//    ├─ appmenu-sidebar-user-box
//    |  └─ user-widget user-widget-label
//    ├─ appmenu-sidebar-scrollview
//    |  └─ appmenu-sidebar-scrollbox
//    |     ├─ appmenu-places-box
//    |     └─ appmenu-favs-box
//    └─ appmenu-system-box

$appmenu_small_padding: 0.2em; // 5px;
$appmenu_padding: 0.6em; // 10px;
$appmenu_large_padding: 0.8em; // 15px;

%appmenu_button {
  padding: $base_padding;
  spacing: $base_margin;
  border-radius: $border_radius; // $base_border_radius;
}

.appmenu {
  // this can be used to color the entire menu background but we aren't using it here
  &-background {
    background: inherit;
    // using this to override the default padding on menus so widgets can span
    // the edge to edge.
    .popup-menu-content {
      padding: 0;
    }
  }

  &-main-box {
    spacing: $appmenu_padding;
  }

  &-right-box {
    spacing: $appmenu_small_padding;
    padding: $appmenu_padding $appmenu_padding;
  }

  &-categories-applications-box {
    spacing: $appmenu_large_padding;

    &:top {
      // Extra padding at the top of the categories/apps
      // when the search box is at the bottom
      padding-top: $appmenu_small_padding;
    }
  }

  &-applications-box {
    // Extra gap between the highlighted app and the scroll handle
    padding-right: $appmenu_small_padding;
  }

  &-search-box {
    spacing: $appmenu_padding;
  }

  &-sidebar {
    padding: $appmenu_padding 0px;
    background-color: transparentize($base_color, 0.7); //$base_color;
    border-radius: $border_radius 0 0 $border_radius;
    border-right-width: 1px;
    border-color: $borders_color;

    &-user-box {
      margin-bottom: $appmenu_small_padding;
    }

    &-scrollview {
      .appmenu-favs-box,
      .appmenu-places-box {
        padding: $appmenu_small_padding;
      }
    }

    .appmenu-system-button {
      margin-top: $appmenu_padding; //0.5em;
      padding: $base_padding * 1.4;
      border: 1px solid $osd_borders_color;
      border-radius: 9999px;
      &-shutdown {
        background-color: $destructive_bg_color;
        &:hover {
          color: $selected_fg_color;
          background-color: $destructive_bg_color;
        }
      }
      &-lock:hover,
      &-logout:hover {
        color: $selected_fg_color;
        background-color: $hover_bg_color;
      }
    }
  }

  &-system-box {
    spacing: $appmenu_padding;
  }

  &-sidebar-button {
    @extend %appmenu_button;
    transition-duration: 200;
    border: 1px solid transparent;
    min-width: 9em;

    padding: 3px $base_padding 3px $base_padding;
    margin: 0 $appmenu_padding 0 $appmenu_padding;

    &:hover {
      background-color: $hover_bg_color; // $lighter_bg_color;
      color: $selected_fg_color;
      transition-duration: 200;

      // border-color: $osd_border_color; // $borders_color;
      border: 1px solid $osd_borders_color;
    }
  }

  &-system-button {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: $base_padding * 1.4;
    border: 1px solid $osd_borders_color;
    border-radius: 9999px;
    &-shutdown {
      background-color: $destructive_bg_color;
      &:hover {
        color: $selected_fg_color;
        background-color: $destructive_bg_color;
      }
    }
    &-lock:hover,
    &-logout:hover {
      color: $selected_fg_color;
      background-color: $hover_bg_color;
    }
  }

  &-application-button {
    @extend %appmenu_button;
    transition-duration: 200;
    border: 1px solid transparent;

    &-label {
      padding: 0;
    }

    &-description {
      @extend %caption;
      color: $light_text_color;
    }

    &:highlighted {
      font-weight: bold;
    }

    &-selected {
      @extend %appmenu_button;

      background-color: $hover_bg_color;
      color: $selected_fg_color;
      transition-duration: 200;
      border: 1px solid $osd_borders_color;

      &:highlighted {
        font-weight: bold;
      }
    }
  }

  &-category-button {
    @extend %appmenu_button;
    transition-duration: 200;
    border: 1px solid transparent;
    min-width: 9em;

    &-label {
      padding: 0;
    }

    &:hover {
      background-color: $hover_bg_color;
      color: $selected_fg_color;
      transition-duration: 200;
      border: 1px solid $osd_borders_color;
    }

    &-selected {
      @extend %appmenu_button;
      //background-color: $light_bg_color;
      @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 1);
      color: $selected_fg_color;
      font-weight: bold;
      border: 1px solid $osd_borders_color;
      transition-duration: 200;
    }

    &-greyed {
      @extend %appmenu_button;
      color: $insensitive_fg_color;
      font-style: italic;
      transition-duration: 200;

      StIcon {
        opacity: 0.5;
      }
    }
  }

  &-search-entry-icon {
    icon-size: $scalable_icon_size;
    color: $accent_fg_color;
  }
}

#appmenu-search-entry {
  @extend %entry_osd;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * start menu in Cinnamon < v6.6 (will get deprecated)               *
 * - also used by some applets (i.e. Cinnamenu@json) and menu spices *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

//FIXME: edit tile style from mint-y theme - vno cush thing in cinnamon theme
//FIXME: entry border not highlighted while entry selected (probably by using @extend %entry;)

$menu_outer_padding: 0.5em;
$menu_outer_border_radius: $border_radius; //$base_border_radius * 1.25;

%start_menu_button {
  padding: $base_padding;
  spacing: $base_margin;
  border-radius: $border_radius; // $base_border_radius;
}

.menu {
  &-background {
    background: inherit;
  }
  // this can be used to color the entire menu background
  // but we aren't using it here (we use it in .popup-menu-content selector
  // in _menu.scss)

  &-favorites-box {
    min-height: 1.4em;
    min-width: 1.4em;
    padding: 0.625em;
    transition-duration: 200;
    // background-color: transparent;
    border: 1px solid transparent;
    border-radius: $border_radius; //$base_border_radius;
  }

  &-favorites-button {
    padding: 0.1em 0.5em;
    border-radius: $border_radius; // $base_border_radius;
    color: $osd_fg_color;

    &:hover {
      background-color: $hover_bg_color; // $lightest_bg_color;
      transition-duration: 200;
      color: $selected_fg_color;
    }
  }

  &-categories-box {
    padding: $menu_outer_padding $base_padding * 4;
  }
  &-applications-box {
    padding: $menu_outer_padding;
  }
  &-applications-inner-box {
    &:ltr {
      padding-left: $base_padding * 4;
    }
    &:rtl {
      padding-right: $base_padding * 4;
    }
  }

  &-application-button {
    @extend %start_menu_button;
    transition-duration: 200;
    border: 1px solid transparent;

    &-label {
      padding: 0;
    }

    &:highlighted {
      font-weight: bold;
    }

    &-selected {
      @extend %start_menu_button;

      background-color: $hover_bg_color;
      color: $selected_fg_color;
      transition-duration: 200;
      border: 1px solid $borders_color;

      &:highlighted {
        font-weight: bold;
      }
    }
  }

  &-category-button {
    @extend %start_menu_button;
    transition-duration: 200;
    border-radius: $menu_outer_border_radius;
    border: 1px solid transparent;
    min-width: 9em;

    &-label {
      padding: 0;
    }

    &:hover {
      background-color: $hover_bg_color;
      color: $selected_fg_color;
      transition-duration: 200;
      border-radius: $menu_outer_border_radius;
      border-image: none;
      border: 1px solid $borders_color;
    }

    &-selected {
      @extend %start_menu_button;
      // background-color: $accent_color;  // $light_bg_color;
      @include bg_gradient(horizontal, $theme_gradient_start, $theme_gradient_end, 1);
      color: white;
      font-weight: bold;
      border: 1px solid $borders_color;

      transition-duration: 200;
      //TODO: Improve so this is some kind of button colors, not explicitly selected
    }

    &-greyed {
      @extend %start_menu_button;
      color: $insensitive_fg_color;
      font-style: italic;
      transition-duration: 200;

      StIcon {
        opacity: 0.5;
      }
    }
  }

  &-context-menu {
  }

  &-selected-app-box {
    padding-right: $base_padding * 4;
    padding-left: $base_padding * 4;
    text-align: right;
  }

  &-selected-app-title {
    @extend %heading;
  }
  &-selected-app-description {
    color: $insensitive_fg_color;
  }

  &-search-box {
    padding: 0 0 $base_padding $menu_outer_padding;
  }
}

#menu-search-entry {
  @extend %entry_osd;
}

.menu-search-entry-icon {
  icon-size: $scalable_icon_size;
  color: $accent_fg_color;
}

//FIXME: needs revaluating before theme is built

/* * * * * * * * * *
 * cinnamenu11@cjb *
 * * * * * * * * * */

/*css nodes used by Cinnamenu
┌──.menu-background
.cinnamenu ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
│┌──.menu-applications-outer-box .menu-applications-box───────────────────────────────────────────────────────────────────────────────────
│|┌──.menu-favorites-box─────────────────┐┌──.menu-categories-scrollbox .vfade──┐┌──.menu-applications-scrollbox .vfade───────────────────
│││┌──.menu-favorites-scrollbox .vfade──┐││┌──.menu-categories-box─────────────┐││┌──.menu-applications-inner-box .menu-applications-box──
││││                                    ││││                                   ││││┌──.menu-applications-header-text───┐
││││                                    ││││                                   ││││└───────────────────────────────────┘
││││                                    ││││                                   ││││┌──.menu-applications-grid-box (not list view)──┐
││││                                    ││││                                   ││││└───────────────────────────────────
││┌──.menu-search-box─────────
│││┌──#menu-search-entry──────────
*/

.menu {

  &-favorites {
  // session/favorites box (or none dependant on user options.)

    &-box {
      border-radius: $border_radius;
    }
    /* The Sidebar buttons (border radius fixed in sidebar.js) */
    &-scrollbox { /* empty */ } /*and vfade*/
    &-button {
      margin-left: 0.5em;
      margin-right: 0.5em;
      spacing: 0.6px;   /* space between icon + label */
      &:hover { /* empty */ }
    }
  }

  &-search {
  // search box
  // when search width = full menu width -> symmetry is hardcoded
    &-box { /* empty */ }
    &-entry-icon { /* empty */ }
  }

  &-categories {
  // categories box
    &-scrollbox { /* empty */ } /*and .vfade*/
    &-box { /* empty */ }
      // Note: when the favorites box is not on the left of the menu,
      // menu-categories-box left padding will be reduced so that
      // menu-categories-box left padding + menu-applications-outer-box
      // left padding does not exceed 20px.
      // Use menu-categories-box left margin to override
  }

  &-category {
    &-button {
      /* empty */
      &:hover {  /*Only used when "activate categories on click" option is set.*/
        background-color: rgba(128,128,128,0.2);
      }
      &:highlighted {
        font-weight: bold;
      }
    }
    &-label {}
    &-selected {
      /* empty */
      &:highlighted {
        font-weight: bold;
      }
    }
    &-greyed {}
  }

  &-applications {
  // applications box
    &-scrollbox {} /*and .vfade*/
    &-inner-box {} /*and .menu-applications-box for compatibility with old themes.*/
    &-grid-box {
      /*only used in grid view. There is no list view equivalent.*/
      .menu-application-button,
      .menu-application-button-selected {
        /*remove l/r padding in grid view to allow maximum space for label*/
        padding-top: 2px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 8px;
      }
      .menu-application-button-label {
        padding-top: 2px;
        padding-right: 1px;
        padding-left: 2px;
        text-align: center;
      }
    }
    &-header-text { /*(shows folder name, "no recent files", error messages etc)*/
      font-weight: bold;
      font-size: 110%;
    }
    &-subheading {
      font-weight: bold;
      font-size: 100%;
      padding-top: 0.3em;
      padding-left: 0.3em;
      /*text-align: center;*//*known bug: causes label to jump about when resizing menu*/
      &-clickable { /*emoji categories*/
        font-size: 100%;
      }
    }

  }

  &-application {  /*Note: in grid view mode, top & bottom padding hard-codded to 8px */

    &-button {
      border-radius: 8px;

      &:highlighted {
      // Used to highlight newly installed apps in list or grid view
        font-weight: bold;
      }

      &-label {}

      &-selected {
        &:highlighted {
        // Used to highlight newly installed apps in list or grid view
        font-weight: bold;
        }
      }

    }
  }
}

#menu {
  &-search-entry {
    border: none;
    box-shadow: none;
    background-image: none;
    background-color: rgba(255,255,255,0.06);
    border-radius: 14px;
    padding: 8px 14px;

    &:focus {
      border: none;
      box-shadow: none;
      background-image: none;
      background-color: rgba(255,255,255,0.06);
      border-radius: 14px;
      padding: 8px 14px;
    }
  }
}

.cinnamenu {
  &.menu-background {
    border-radius: 14px;
    padding-bottom: 9px;
    box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.25);
    margin-bottom:9px;
  }

  &.menu-background2 {
    border-radius: 14px;
    padding-bottom: 9px;
    box-shadow: 0 2px 15px 10px rgba(0, 0, 0, 0.25);
  }
}

/*---context menu---------------------------
(.menu)*/

/*---whole menu-----------------------------
.cinnamenu (and .menu-background)
(.menu)*/

/*
Note: You can make a style to apply to Cinnamenu applet but not other menu applets by
preceding the class with ".cinnamenu ". Example:
.cinnamenu .menu-application-button {
    //this style will only apply to Cinnamenu applet.
}
*/
