// these are equal to the size of the svg
$switch_height: 1.625em;// 26px;
$switch_width: 2.875em; //46px;

$check_height: 1.25em; //20px;
$check_width: 1.25em; //20px;

// switch

.toggle-switch {
  height: $switch_height;
  width: $switch_width;
  background-size: contain;
  background-image: url("#{$assets_path}/toggle-off.svg");

  &:checked { background-image: url("#{$assets_path}/toggle-on.svg"); }
}

// check

.check-box {
  CinnamonGenericContainer { spacing: 0.8em; }

  StBin {
    width: $check_width;
    height: $check_height;
    background-image: url("#{$assets_path}/checkbox-off.svg");
  }
  &:focus StBin { background-image: url("#{$assets_path}/checkbox-off-focused.svg"); }
  &:checked StBin { background-image: url("#{$assets_path}/checkbox.svg"); }
  &:focus:checked StBin { background-image: url("#{$assets_path}/checkbox-focused.svg"); }
}

// New CheckBoxes

.check-box-2 {
  StBoxLayout { spacing: 0.8em; }

  StBin {
    width: $check_width;
    height: $check_height;
    background-image: url("#{$assets_path}/checkbox-off.svg");
  }
  &:focus StBin { background-image: url("#{$assets_path}/checkbox-off-focused.svg"); }
  &:checked StBin { background-image: url("#{$assets_path}/checkbox.svg"); }
  &:focus:checked StBin { background-image: url("#{$assets_path}/checkbox-focused.svg"); }
}

// radio

.radiobutton {
  CinnamonGenericContainer { spacing: 0.8em; }

  StBin {
    width: $check_width;
    height: $check_height;
    background-image: url("#{$assets_path}/radio-off.svg");
  }
  &:focus StBin { background-image: url("#{$assets_path}/radio-off.svg"); }
  &:checked StBin { background-image: url("#{$assets_path}/radio.svg"); }
  &:focus:checked StBin { background-image: url("#{$assets_path}/radio.svg"); }
}
