/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Workspace Switcher applet (workspaceSwitcher.js)  *
 * * * * * * * * * * * * * * * * * * * * * * * * * * */

 #workspaceSwitcher {
  spacing: 0px;
  padding: 3px;
}

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;

  .panel-left &,
  .panel-right & {
    padding: 0;
  }
}

.workspace-button {
  border: 1px solid transparentize(black, 0.6);
  background-color: transparentize(black, 0.8);
  width: 1em;//width: 20px;
  height: 1em;//height: 14px;
  color: transparentize($panel_fg, 0.50);
  padding: 1px;
  padding-top: 4px;
  transition-duration: 200;

  &.vertical {
    height: 1.2em;// 1.5em;
    width: 1em;//24px;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 3px;
  }

  &:outlined {
    //background-color: $accent_color;
    color: $accent_color;

    &:hover {
      @include bg_gradient(horizontal, $theme_gradient_start,
      	$theme_gradient_end, 0.5);
      color: $selected_fg_color;
      border-radius: $radius;// 7px;
    }
  }

  &:hover {
    @include bg_gradient(horizontal, $theme_gradient_start,
    	$theme_gradient_end, 0.5);
    color: $selected_fg_color;
    border-radius: $radius;// 7px;
  }
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 3px;
  spacing: 6px;
}

.workspace-graph .workspace {
  border: 1px solid $borders_color;// transparentize(black, 0.6);
  background-color: transparentize($bg_color, 0.5);
}

.workspace-graph .workspace:active {
  border: 1px solid $accent_color;
}

.workspace-graph .workspace .windows {
  -active-window-background: lighten($panel_bg, 25%);
  -active-window-border: rgba(255, 255, 255, 0.4);
  //-inactive-window-background: transparent;
  -inactive-window-border: rgba(255, 255, 255, 0.2);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: lighten($panel_bg, 25%);
  -active-window-border: rgba(255, 255, 255, 0.4);
  //-inactive-window-background: transparent;
  -inactive-window-border: rgba(255, 255, 255, 0.2);
}
