/* * * * * * * * * * *
 * Caja file manager *
 * * * * * * * * * * */

// sidebar & sidebar buttons color 

.caja-side-pane {
	color: darken($fg_color, 2%);
	background: darken($_sidebar_color, 2%);
	.view, .iconview, row {
		background-color: transparent;
		&:hover {
			color: $selected_fg_color;
/*			background: linear-gradient(to right,
				transparentize($my-gradient-start, 0.6) 0%,
				transparentize($my-gradient-end, 0.6) 100%);		*/	
			background: transparentize($selected_bg_color, 0.6);
		}
		&:selected, &:active, &:checked {
			color: $selected_fg_color;
/*			background: linear-gradient(to right,
				$my-gradient-start 0%, $my-gradient-end 100%);*/
			background: $selected_bg_color;
		}
	}
}

// toolbar and statusbar bg color

.caja-navigation-window {
	background: darken($_sidebar_color, 2%);
}

/* * * * * * * *
 * Volume OSD  *
 * * * * * * * */

MsdOsdWindow.background.osd {
  color: $osd_fg_color;
  border: none;
  background-color: $osd_bg_color;
  background-clip: padding-box;
  box-shadow: none;

  .progressbar {
    background-color: $selected_bg_color;
    border: none;
    border-radius: 5px;
  }
  .trough {
    background-color: $selected_fg_color;
    border: none;
    border-radius: 5px;
  }
}

