/* * * * * * * * * * *
 * Caja file manager *
 * * * * * * * * * * */

// sidebar & sidebar buttons color

.caja-side-pane {
.frame { border-width: 0 0 1px; }
	color: darken($fg_color, 2%);
	background: darken($_sidebar_color, 2%);
	.view, .iconview, row {
		background-color: transparent;
		&:hover {
			color: $selected_fg_color;
/*			background: linear-gradient(to right,
				transparentize($theme-gradient-start, 0.6) 0%,
				transparentize($theme-gradient-end, 0.6) 100%);		*/
			background: transparentize($selected_bg_color, 0.6);
		}
		&:selected, &:active, &:checked {
			color: $selected_fg_color;
/*			background: linear-gradient(to right,
				$theme-gradient-start 0%, $theme-gradient-end 100%);*/
			background: $selected_bg_color;
		}
	}
}

// BUG-fix: Fix text cursor color while renaming file in caja

.caja-notebook {
	.frame { border-width: 0 0 1px; }
	.entry {
    background: $bg_color;
    color: $fg_color;
		border-color: $borders_color;
    &:selected {
      background: $selected_bg_color;
      color: $selected_fg_color;
    }
	}
}

// toolbar and statusbar bg color

.caja-navigation-window {
	background: darken($_sidebar_color, 2%);
}

/* * * * * * * *
 * Volume OSD  *
 * * * * * * * */

MsdOsdWindow.background.osd {
  color: $osd_fg_color;
  border: 1px solid $borders_color;
  border-radius: 9px;
  background-color: $osd_bg_color;
  background-clip: padding-box;
  box-shadow: none;

  .progressbar {
    background-color: $selected_bg_color;
    border: none;
    border-radius: 5px;
  }
  .trough {
    background-color: $selected_fg_color;
    border: none;
    border-radius: 5px;
  }
}

