/**************
 * Xfce Panel *
 **************/
.xfce4-panel.panel {
	background-color: $panel_bg_color;
	text-shadow: none;
	-gtk-icon-shadow: none;
	button { @extend %panelbutton; }
	button.flat { @extend %panelbuttonflat; }
}

#tasklist-button {
	color: transparentize($panel_fg_color, 0.2);
	border-radius: 0;
	border: none;
	background-color: transparentize($panel_bg_color, 1);

	&:hover {
		color: lighten($panel_fg_color, 10%);
		background-color: transparentize(black, 0.83);
	}

	&:checked {
		color: white;
		background-color: transparentize(black, 0.75);
		box-shadow: inset 0 -2px $selected_bg_color;
	}
}

%panelbutton {
	color: $panel_fg_color;
	border-radius: 0;
	border: none;
	background-color: transparentize($panel_bg_color, 1);

	&:hover {
		color: $selected_fg_color;
		border: none;
		//background-color: lighten($panel_bg_color, 10%);
		background-color: transparentize($selected_bg_color, 0.7);
		border-radius: 7px;
	}
	&:active, &:checked {
		color: $selected_fg_color;
		font-weight: bold;
		/* to underline button */
			// border-bottom: 2px solid $selected_bg_color;
			// background-color: lighten($panel_bg_color, 15%);
		/* to gradient transparent panel buttons */
		background: linear-gradient(to right, transparentize($theme-gradient-start, 0.4), transparentize($theme-gradient-end,0.4));
		// box-shadow: 0px 0px 5px transparentize($selected_bg_color, 0.02);
		border-radius: 7px;
		label, image { color: inherit; }
	}
}

%panelbuttonflat {
	color: $panel_fg_color;
	border-radius: 0;
	border: none;
	background-color: transparentize($panel_bg_color, 1);

	&:hover {
		color: $selected_fg_color;
		border: none;
		background-color: transparentize($selected_bg_color, 0.7);
		border-radius: 0px;
	}
	&:active, &:checked {
		color: $selected_fg_color;
		font-weight: bold;
		/* to underline button */
			// border-bottom: 2px solid $selected_bg_color;
			// background-color: lighten($panel_bg_color, 15%);
		background: linear-gradient(to right, transparentize($theme-gradient-start, 0.4), transparentize($theme-gradient-end,0.4));
		border-radius: 0px;
		label, image { color: inherit; }
	}
}

/*****************************
 * Workspace switcher plugin *
 * ***************************/

/*
wnck-pager {
	&:selected {
		background-color: #ff0000;
	}
	&:hover {
		background-color: #777777;
	}
}
*/

/***************************
 * xfce timer plugin color *
 ***************************/

#xfce4-timer-plugin-19 {
	progress {
		background-color: $selected_bg_color;
		border-color: $selected_bg_color;
	}
	trough {
		background-color: $fg_color;
		border-color: $selected_bg_color;
	}
}

/****************
 * Whisker menu *
 ****************/

// general
#whiskermenu-window {
	color: $fg_color;
	background-color: $bg_color;
}

// category button
#whiskermenu-window button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 2px;
    margin: 1px 0px;
    &:hover {
        //background-color: transparentize($selected_bg_color, 0.6);
        @include button(hover-header2);
        border-radius: 0;
        box-shadow: none;
    }
    &:checked {
        // background-color: $selected_bg_color;
				@include button(active-header);
				border-radius: 0;
				box-shadow: none;
    }
}

// tree list
#whiskermenu-window {
	treeview {
		background-color: transparent;
		color: $fg_color;
		&:hover {
			background-color: transparentize($selected_bg_color, 0.6);
			color: $selected_fg_color;
		}
		&:selected {
			background-color: $selected_bg_color;
			color: $selected_fg_color;
			outline-color: $borders_color;
		}
	}
}

/**********
 * thunar *
 **********/
.thunar toolbar {
  background-color: $headerbar_color;
}

// buttons in toolbar
.thunar toolbar.horizontal button image {
  -gtk-icon-transform:scale(1); // it was 0.72
}
scrolledwindow.sidebar treeview.view {
  background: darken($_sidebar_color, 2%);
  padding: 1.5px;
}

// path-bar of thunar
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.toggle.path-bar-button {
  margin-top: 7px;
  margin-bottom: 7px;
  &:hover { color: $selected_bg_color; }
  &:checked { @include button(active-header); }
}
window.thunar toolbar#location-toolbar > toolitem > widget > widget.linked.path-bar > button.path-bar-button {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

// thunar sidepane
window.thunar paned > scrolledwindow treeview.view {
	&:hover {
		@include button(hover-header);
		border-radius: 0;
		box-shadow: none;
	}
	&:selected {
		@include button(active-header);
		border-radius: 0;
		box-shadow: none;
	}
}

// thunar statusbar
window.thunar statusbar {
	color: darken($fg_color, 2%);
	background: darken($_sidebar_color, 2%);
}

// thunar copy-paste highlight
.thunar :not(decoration):not(window):drop(active):focus,
:not(decoration):not(window):drop(active) { // FIXME needs to be done widget by widget, this wildcard should really die
  border-color: $drop_target_color;
  box-shadow: inset 0 0 0 1px $drop_target_color;
  caret-color: $drop_target_color;
}


/****************
 * Log out menu *
 * **************/

.xfsm-logout-dialog {
	border-radius: 0.4em;
	button {
		border-radius: 0.4em;
		&:hover {
		//background-color: lighten($panel_bg_color, 10%);
		background: linear-gradient(to right, transparentize($theme-gradient-start, 0.4), transparentize($theme-gradient-end,0.4));
		}
		&:active, &:checked {
		background: linear-gradient(to right, transparentize($theme-gradient-start, 0.2), transparentize($theme-gradient-end,0.2));
		label, image { color: inherit; }
	}}
}