// Primary colors
$black: #000000;
$white: #ffffff;
$lime: #71f79f;
$red: #FF0000;
$redorange: #ff3300;
$orange: #ff6a00;
$orangeyellow: #ffa100;
$yellow: #FFD400;
$purple: #c74ded;
$darkpurple: #7b7bbd;
$blue: #7cb7ff;
$cyan: #00c1e4;
$slider: #7b7bbd;
$teal: #00e8c6;

// Theme colors
$theme_color: #cc3700;
$accent_color: $theme_color;
$accent_fg_color: lighten($accent_color, 10%);
$accent_bg_color: $accent_color;

// global colors
$bg_color: #0E111D;
$fg_color: #BFC3CD;
$selected_fg_color: #ffffff;
$hover_fg_color: #ffffff;

$base_color: lighten($bg_color, 5%);// #131727;
$base_fg_color: lighten($fg_color, 5%);// #ced1d9;

$panel_bg_color: darken($bg_color, 5%);//#06080d;
$panel_fg_color: darken($fg_color, 5%);//$fg_color;

// used for button, entries and highlighted items
$light_bg_color: lighten($bg_color, 8%);
$lighter_bg_color: lighten($bg_color, 12%);
$lightest_bg_color: lighten($bg_color, 24%);

$light_base_color: lighten($base_color, 8%);

// colored elements
$error_color: #e4705b;
$error_bg_color: #c01c28;

$success_color: #8ff0a4;
$success_bg_color: #26a269;

$destructive_bg_color: #c01c28;
$destructive_color: #ff7b63;

$warning_color: #f8e45c;
$warning_bg_color: #cd9309;

$large_icon_color: transparentize($fg_color, 0.6);
$light_text_color: mix($fg_color, $bg_color, 65%);

// link colors
$link_color: #1c71d8;

// borders
$borders_color:transparentize($fg_color, 0.95);
$applet_separator_color: transparentize($fg_color, 0.90);

// shadows
$shadow_color: rgba(1, 1, 1, 0.05);

// insensitive state
$insensitive_fg_color: mix($fg_color, $bg_color, 40%);

// entries
$entry_fg_color: $base_fg_color;// $fg_color;
$entry_bg_color: $base_color;// $light_bg_color;
$insensitive_entry_bg_color: darken($entry_bg_color, $insensitive_factor);

// buttons base colors
$button_bg_color: $light_bg_color;   // mix input colors to get button background color

// gradient colors
$theme_gradient_start: adjust-hue($accent_color, -15deg);
$theme_gradient_end: adjust-hue($accent_color, 15deg);
$destructive_gradient_start: adjust-hue($destructive_bg_color, -15deg);
$destructive_gradient_end: adjust-hue($destructive_bg_color, 15deg);

// hover
$hover_bg_color: transparentize($lightest_bg_color, 0.75); // $lighter_bg_color;

// osd
$osd_bg_color:  transparentize(mix($bg_color, $panel_bg_color, 50%), 0.10); // transparentize($panel_bg_color, 0.10);
$osd_borders_color: transparentize($fg_color, 0.95);
$osd_fg_color: $fg_color;
$osd_entry_bg_color: transparentize($entry_bg_color, 0.30); //$entry_bg_color;
$osd_entry_fg_color: $osd_fg_color;
