// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

// Primary colors
$black: #000000;
$white: #ffffff;
$lime: #71f79f;
$red: #FF0000;
$redorange: #ff3300;
$orange: #ff6a00;
$orangeyellow: #ffa100;
$yellow: #FFD400;
$purple: #c74ded;
$darkpurple: #7b7bbd;
$blue: #7cb7ff;
$cyan: #00c1e4;
$slider: #7b7bbd;
$teal: #00e8c6;

// Main definitions
$base_color: if($variant =='light', #ffffff, lighten(#0E111D, 3%));
$text_color: if($variant == 'light', #202020, #BFC3CD);
$bg_color: if($variant =='light', #F0F0F0, #0E111D);
$fg_color: if($variant =='light', #202020, #BFC3CD);
$accent_color: $orange;
$selected_fg_color: #fefefe;
$selected_bg_color: if($variant == 'light', #92b372, $orange);

$borders_color: if($variant =='light', darken($bg_color,9%), darken($bg_color,6%));
$separator_color: if($variant == 'light', #cfcfcf, darken($bg_color, 6%));
$link_color: if($variant == 'light', darken($selected_bg_color,10%),
                                     lighten($selected_bg_color,20%));

// main gradient
$orange_gradient_start: #ff3300;
$orange_gradient_end: #ffa100;



// Attention
$warning_color: if($variant == 'light', $orange, darken($orange,10%));
$error_color: if($variant == 'light', $red, darken($red,5%));
$success_color: if($variant == 'light', $cyan, darken($cyan,10%));
$destructive_color: if($variant == 'light', darken($red,5%), darken($red,10%));
$suggested_color: if($variant == 'light', $selected_bg_color, darken($selected_bg_color,10%));

// Insensitive
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));

// Tooltip
$tooltip_bg_color: darken($bg_color, 5%);
$tooltip_fg_color: $fg_color;
$tooltip_border_color: transparentize(white, 0.9);

// OSD
$osd_fg_color: #fefefe;
$osd_bg_color:  transparentize(#14171a, 0.2);
$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 20%), 0.6);
$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);

// Panel
$panel_bg: rgba($bg_color, 1);
$panel_fg: $fg_color;

// Entry
$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #cfd6e6, darken($borders_color, 0%));

// Buttons
$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $entry_border;
